<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyACh5xAeKRvND6k7QNAsEreyymYTu69qqQ</string>
	<key>GCM_SENDER_ID</key>
	<string>366756309014</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.textAppToy</string>
	<key>PROJECT_ID</key>
	<string>flutter-texting-app-practice</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-texting-app-practice.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:366756309014:ios:6ad6da047b08f9b6f0ed37</string>
</dict>
</plist>